body {
    background-image: linear-gradient(70deg, rgb(0, 65, 45), rgb(0, 110, 138));
}

@media (max-width: 1024px) {
    .maintext {
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: left;
    position: fixed;
    top: 100px;
    width: 50%;
    height: 500px;
    left: 70px;
    transition: scale 1s;
  }

  .maintext:hover {
    scale: 105%
  }
  
.exp {
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: left;
    position: fixed;
    top: 450px;
    width: 50%;
    height: 500px;
    left: 70px;
    transition: scale 1s;
}

.exp:hover {
    scale: 105%
}

  .back {
    top: 20px;
    color: rgb(201, 201, 201);
    background-color: rgb(32, 32, 32);
    height: 900px;
    width: 550px;
    border-radius: 30px;
    position: fixed;
    right: 30px
  }


.img {
    position: fixed;
    top: 150px;
    right: 185px;
    width: 250;
    height: 250;
    border-radius: 120px;
}

.name {
    position: fixed;
    top: 370px;
    right: 170px;
    color:rgb(255, 255, 255);
    font-size: 50px;
    letter-spacing: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: letter-spacing 1s, right 1s
}

.name:hover {
    letter-spacing: 10px;
    right: 140px
}

.projects {
    position: fixed;
    background-color: rgb(59, 182, 121);
    width: 450px;
    height: 75px;
    font-size: 50px;
    border-radius: 50px;
    top: 500px;
    right: 85px;
    animation: buttonScale 0.5s;
    transition: scale 0.5s, borderColor 0.5s;
    cursor: pointer;
}

.projects:hover {
    scale: 120%;
    border-color: red;
}

.git {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 415px;
    bottom: 373px;
}

.music {
    position: fixed;
    background-color: rgb(55, 101, 253);
    width: 450px;
    height: 75px;
    font-size: 50px;
    border-radius: 50px;
    top: 600px;
    right: 85px;
    animation: buttonScale 0.5s;
    transition: scale 0.5s, borderColor 0.5s;
    cursor: pointer;
}

.music:hover {
    scale: 120%;
    border-color: rgb(255, 230, 0);
}

.noteimg {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 415px;
    bottom: 275px;
}

.twitch {
    position: fixed;
    background-color: rgb(152, 27, 255);
    width: 450px;
    height: 75px;
    font-size: 50px;
    border-radius: 50px;
    top: 700px;
    right: 85px;
    animation: buttonScale 0.5s;
    transition: scale 0.5s, borderColor 0.5s;
    cursor: pointer;
}

.twitch:hover {
    scale: 120%;
    border-color: rgb(255, 255, 255);
}

.tw {
    position: fixed;
    width: 70px;
    height: 60px;
    right: 415px;
    bottom: 172px;
}

.discord {
    position: fixed;
    background-color: rgb(177, 51, 194);
    width: 450px;
    height: 75px;
    font-size: 50px;
    border-radius: 50px;
    top: 800px;
    right: 85px;
    animation: buttonScale 0.5s;
    transition: scale 0.5s, borderColor 0.5s;
    cursor: pointer;
}

.discord:hover {
    scale: 120%;
    border-color: rgb(0, 238, 255);
}

.di {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 440px;
    bottom: 70px;
}

}
  
