body {
    background-color: #2c2c2c;
}

#header {
    color: #020202;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    font-size: 30px;
    margin-top: 20px;
    width: 10px;
    margin-left: 30px;
    transition: letter-spacing 1s;
    letter-spacing: -2px;
}

#header:hover {
    letter-spacing: 150px;
}

.right {
    width: 35%;
    height: 90%;
    background-image: linear-gradient(230deg, rgb(68, 68, 68), rgb(27, 27, 27));
    border-radius: 50px;
    text-align: center;
    position: relative;
    right: 0px;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    border: #000000;
    transition: scale 1s;
}

.right:hover {
    scale: 101%;
}

#top {
    color: #b6b6b6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    transition: scale 1s
}

#top:hover {
    scale: 110%;
}

#contact {
    color: #cecece;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    font-size: 25px;
    width: 70%;
    transition: letter-spacing 1s;
    letter-spacing: -2px;
    border-radius: 50px;
    height: 55px;
    border: none;
    background-image: linear-gradient(70deg, rgb(210, 214, 0), rgb(0, 0, 0));
    transition: scale 1s, letter-spacing 1s;
    margin-bottom: 20px;
}

#contact:hover {
    scale: 110%;
    letter-spacing: 0px;
}

#music {
    color: #cecece;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    font-size: 25px;
    width: 70%;
    transition: letter-spacing 1s;
    letter-spacing: -2px;
    border-radius: 50px;
    height: 55px;
    border: none;
    background-image: linear-gradient(70deg, rgb(16, 197, 0), rgb(0, 0, 0));
    transition: scale 1s, letter-spacing 1s;
    margin-bottom: 20px;
}

#music:hover {
    scale: 110%;
    letter-spacing: 0px;
}

#projects {
    color: #cecece;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    font-size: 25px;
    width: 70%;
    transition: letter-spacing 1s;
    letter-spacing: -2px;
    border-radius: 50px;
    height: 55px;
    border: none;
    background-image: linear-gradient(70deg, rgb(0, 108, 197), rgb(0, 0, 0));
    transition: scale 1s, letter-spacing 1s;
    margin-bottom: 20px;
}

#projects:hover {
    scale: 110%;
    letter-spacing: 0px;
}

#yt {
    color: #cecece;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    font-size: 25px;
    width: 70%;
    transition: letter-spacing 1s;
    letter-spacing: -2px;
    border-radius: 50px;
    height: 55px;
    border: none;
    background-image: linear-gradient(70deg, rgb(192, 6, 6), rgb(0, 0, 0));
    transition: scale 1s, letter-spacing 1s;
    margin-bottom: 20px;
}

#yt:hover {
    scale: 110%;
    letter-spacing: 0px;
}

.abt {
    width: 60%;
    height: 20%;
    margin-left: 50px;
    margin-top: 75px;
    transition: scale 1s;
}

.abt:hover {
    scale: 100.5%;
}

#head {
    font-size: 30px;
    color: #cecece;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.5px;
    transition: letter-spacing 1s, scale 1s;
}

#head:hover {
    letter-spacing: 2px;
    scale: 102%;
}

#line {
    font-size: 23px;
    color: #cecece;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.7px;
    transition: letter-spacing 1s, scale 1s;
    text-indent: 5%;
    line-height: 2;
}

.songs {
    width: 80%;
    height: 20%;
    margin-left: 50px;
    margin-top: 75px;
    transition: scale 1s;
}

#titl {
    font-size: 30px;
    color: #cecece;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.5px;
    transition: letter-spacing 1s, scale 1s;
}

#song1 {
    transition: scale 1s;
}

#song1:hover {
    scale: 104%
}